@layer base, utils, components;

@import "@webtui/css/base.css";

@layer base {
  :root {
    --font-family: "GeistMono", monospace;
  }
}

@layer base {
  :root {
    --font-size: 16px;
    --line-height: 1.3;
    /* Font weight for bold text */
    --font-weight-bold: 700;
    /* Font weight for regular text */
    --font-weight-normal: 400;
    --font-family: monospace;
  }
}

@font-face {
  font-family: "Tsunagi";
  src: url("/fonts/TsunagiGothic.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Schabo";
  src: url("/fonts/schabo.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMono.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
