---
export interface Props {
  filename?: string;
  lang?: string;
}

const { filename = "kaneru@localhost:~$ ", lang = "" } = Astro.props;
---
<pre class="not-prose border-1 border-gray-800 bg-gray-100 dark:bg-jp-dark-secondary/40 w-full relative overflow-hidden"><div class="w-full dark:bg-jp-dark-primary text-jp-white flex items-center justify-between border-b-1 border-gray-800"><p class="p-2 !text-white bg-gray-500 dark:bg-jp-dark-secondary/40 border-r-1 border-gray-800 w-fit">{filename}</p>{lang && <span class="p-2 text-sm opacity-70">{lang}</span>}</div><div class="px-4 overflow-auto [&>pre]:!bg-transparent"><slot /></div><img src="/eva01.webp" alt="Eva-01 from evangelion, in pixelart" class="absolute -right-40 -top-30 -z-1 mix-blend-lighten opacity-20 saturate-120" /></pre>
